

// colors

$green: #04724d;
$black: #323031;
$white: #e5e5e5;
$yellow: #ffbc42;
$lightGreen: #bee5bf;
$red: #E4572E;

// fonts

$mainFont: 'Lato', sans-serif;
$titleFont: 'Righteous', cursive;

// weight

$regular: 400;
$bold: 700;

// media queries

$desktopWidth: 1439px;
$desktopHeight: 900px;

$laptopWidth: 1024px;

$tabletWidth: 768px;
$tabletHeight: 1024px;

$mobileWidth: 584px;
$mobileHeight: 667px;